span {
    color: yellowgreen;
    background-color: yellow;
    margin-bottom: 20px;
    padding: 10px;
}

.h1-color {
    padding: 0;
    color: red;
    background: none;
}

.shuvo {
    text-transform: uppercase;
    text-align: left;
    font-size: 30px;
    padding-left: 5px;


}

header {
    background-color: rgba(8, 233, 23, 0.57);
}

header nav {
    text-align: center;
}

.head-div {
    display: flex;
}

.head-div-first {
    width: 50%;

}

.nav-svg {
    margin-left: 5px;
    margin-top: 15px;
    padding-right: 400px;

}

header nav ul {
    display: inline-flex;

    padding: 15px;
}

.navlist {
    list-style: none;
    font-size: 25px;
}

.navlink {
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px
}


button {
    background-image: linear-gradient(red, rgb(228, 202, 5));
    margin: 20px 0px 20px 0px;
    padding: 10px;
}

button:hover {
    background: rgb(9, 15, 198);
    color: rgb(255, 255, 255);
    border-radius: 15px;

}

strong {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

p sup {
    background-color: blue;
    padding: 5px;
}

p sub {
    background-color: blueviolet;
    padding: 5px;
}

.field {
    border: 2px solid;
    height: 500px;
    width: 95%;
    margin: 20px;
    background-color: rgba(240, 255, 255, 0.655);
}

.bat {
    width: 400px;
    height: 300px;
    transition: transform 0.5s ease-in;
}

.field:hover .bat {
    transform: rotate(-65deg);
    transform-origin: top right;

}

.ball {
    height: 30px;
    width: 30px;
    border-radius: 15px;
    background-color: red;
    transition: transform 0.7s ease-out 0.5s;
    position: relative;
    left: 485px;
    margin-top: 100px;
}

.field:hover .ball {
    transform: translate(400px, -300px);
}

textarea {
    color-scheme: dark;
    color: yellow;
    width: 90%;
    height: 200px;
    margin-bottom: 50px;
}

i {
    background-color: tomato;
    margin: 20px 500px;
    padding: 20px;
}

small {
    color: rgb(86, 251, 3);
    position: relative;
    left: 300px;
    background-color: cadetblue;

}

b {
    font-weight: 900;
    font-size: x-large;
}

abbr {
    position: relative;
    margin: 40px 0px 40px 400px;
    text-decoration: none;
}

abbr:hover {
    background-color: chartreuse;
    font-size: 30px;
}

abbr:hover::after {
    position: absolute;
    bottom: 100%;
    left: 100%;
    display: block;
    padding: 1em;
    background: yellow;
    content: attr(title);
}

.inline-a {
    background-image: linear-gradient(red, green, yellow, black);
    padding: 10px;
    color: aliceblue;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    margin-top: 1in;
    margin-left: 6in;
    margin-bottom: 1in;
}

.inline-label {
    color: rgb(255, 221, 0);
    position: relative;
    left: 900px;
    margin-top: 1in;
    background-color: black;
    padding: 8px;
}

.inline-input {
    background: yellowgreen;
    color: aliceblue;
    position: relative;
    left: 900px;
}

svg {
    height: 30px;
    width: 30px;
}